body {
  padding: 0;
  margin: 0;
}
.full-bg-size {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-dim {
  width: 100%;
  height: 100%;
  position: fixed;
}

.text-center {
  text-align: center;
}

.color-lightblue {
  color: #a6ebfa;
}

.float-right {
  float: right;
}

.font-48 {
  font-size: 48px;
}

.font-32 {
  font-size: 32px;
}

.bgColor {
  background-color: #a6ebfa;
}

.Artist-layout1 {
  display: flex;
  flex-wrap: wrap;
  min-width: 80%;
  padding: 10px;
}

.pad-20 {
  padding: 20px;
}

li {
  list-style-type: none;
}
